extends layout

block content
  
  a(href='/translation') Click here to translate a word!  

  h3 Take a quiz!
    form#quizSpecs(action='/quiz/create' method='post')
        input#fromLang(type='text' name='fromLang' placeholder='Language you would like to translate from' value='eng')
        input#toLang(type='text' name='toLang' placeholder='Language you would like to translate into' value='fra')
        input(type='submit' value='click here to take a quiz!') 

  a(href='/viewStats') Click here to view statistics
  
