extends layout

block content
    form#quizForm(action='#')
        table.table.table-striped
            tr
                th Words to translate
                th Write your answer
                tr
                    td#question #{words[0]}
                    td
                        input#answerForm(type='text' name='word')
        input#quizSubmit(type='submit')
        p#answerValidate
    button#nextQuestion(type='button') Next Question!



      